<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    
    <servlet-name>uploadimg</servlet-name>
    <servlet-class>com.it61.minecraft.test.UploadImgServelet</servlet-class>
    
  </servlet>
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>com.it61.minecraft.test.SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisteServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.RegisteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.it61.minecraft.test.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.SettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JspShowImgServlet</servlet-name>
    <servlet-class>com.it61.minecraft.test.JspShowImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowImgServlet</servlet-name>
    <servlet-class>com.it61.minecraft.test.ShowImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPicServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.ShowPicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MomentServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.MomentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowMomentPicServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.ShowMomentPicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavorAddServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.FavorAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavorCancelServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.FavorCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.CommentServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>uploadimg</servlet-name>
    <url-pattern>/servlet/uploadimg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/servlet/SimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisteServlet</servlet-name>
    <url-pattern>/servlet/RegisteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/servlet/SettingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspShowImgServlet</servlet-name>
    <url-pattern>/servlet/JspShowImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowImgServlet</servlet-name>
    <url-pattern>/servlet/ShowImgServlet</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>ShowPicServlet</servlet-name>
    <url-pattern>/servlet/ShowPicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/servlet/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <url-pattern>/servlet/RemoveFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MomentServlet</servlet-name>
    <url-pattern>/servlet/MomentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMomentPicServlet</servlet-name>
    <url-pattern>/servlet/ShowMomentPicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavorAddServlet</servlet-name>
    <url-pattern>/servlet/FavorAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavorCancelServlet</servlet-name>
    <url-pattern>/servlet/FavorCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>com.it61.minecraft.web.listener.OnlineListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.it61.minecraft.web.listener.ContextListenerImpl</listener-class>
  </listener>
  
  	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
